<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="robots" content="all">
<meta name="author" content="Tencent-CP" />
<meta name="Copyright" content="Tencent" />
<meta name="description"
	content="《王者荣耀》是腾讯天美工作室推出的英雄竞技手游，不是一个人的王者，而是团队的荣耀！5v5王者峡谷PVP对战，领略英雄竞技的酣畅淋漓！更有边境突围、五军对决等丰富的游戏模式，体验突破传统、英雄竞技新形态！" />
<meta name="keywords" content="王者荣耀,王者荣耀下载,王者荣耀电脑版" />
<!-- 设计：cp  | 重构：cp | 创建：2019/12/18 -->
<title>2019王者荣耀冬季冠军杯</title>
<script>
function AutoPage() {
	document.documentElement.style.fontSize = document.documentElement.clientHeight * 100 / 660 + 'px';
};
AutoPage();
window.addEventListener('resize', AutoPage, false)
</script>
<!-- <link rel="stylesheet" type="text/css" href="style.css" /> -->
</head>
<body>
<div class="wrap">
	<h1 class="hide">2019王者荣耀冬季冠军杯</h1>
	<div class="sc_main">
		<ul class="sc_nav">
			<li >选拔赛</li>
			<li class="on">淘汰赛</li>
		</ul>
		<div class="sc_ct">
			<div class="match_main" style="display: none;">
				<div class="yxs_main c">
					<div class="yxs_team">
						<p class="team_tit">选拔赛队伍</p>
						<p class="rank_top">
							<span class="top_iteam1">排名</span>
							<span class="top_iteam2">战队</span>
							<span class="top_iteam3">胜负</span>
							<span class="top_iteam4">积分</span>
							<span class="top_iteam5">净积分</span>
						</p>
						<ul class="rank_list">
						</ul>
					</div>
					<div class="yxs_rise">
						<div class="rise_team">
							<p class="team_tit">已晋级队伍</p>
							<div class="rise_main">
								<dl class="rise_list">
									<dt><span>KPL赛区</span></dt>
									<dd>
										<p class="flag_icon">
											<img src="ossweb-img/flag_icon1.jpg" alt="" />
										</p>
										<p class="team_icon">
											<img src="ossweb-img/team-ag.png" alt="" />
										</p>
										<p class="team_name">AG超玩会</p>
									</dd>
									<dd>
										<p class="flag_icon">
											<img src="ossweb-img/flag_icon1.jpg" alt="" />
										</p>
										<p class="team_icon">
											<img src="ossweb-img/team-qg.png" alt="" />
										</p>
										<p class="team_name">QGhappy</p>
									</dd>
									<dd>
										<p class="flag_icon">
											<img src="ossweb-img/flag_icon1.jpg" alt="" />
										</p>
										<p class="team_icon">
											<img src="ossweb-img/team-dyg.png" alt="" />
										</p>
										<p class="team_name">DYG.JC</p>
									</dd>
								</dl>
								<dl class="rise_list">
									<dt><span>中国港澳台及海外赛区</span></dt>
									<dd>
										<p class="flag_icon">
											<img src="ossweb-img/flag_icon5.jpg" alt="" />
										</p>
										<p class="team_icon">
											<img src="ossweb-img/team-slt.png" alt="" />
										</p>
										<p class="team_name">SLT</p>
									</dd>
									<dd>
										<p class="flag_icon">
											<img src="ossweb-img/flag_icon2.jpg" alt="" />
										</p>
										<p class="team_icon">
											<img src="ossweb-img/team-gog.png" alt="" />
										</p>
										<p class="team_name">GOG</p>
									</dd>
									<dd>
										<p class="flag_icon">
											<img src="ossweb-img/flag_icon5.jpg" alt="" />
										</p>
										<p class="team_icon">
											<img src="ossweb-img/team-rox.png" alt="" />
										</p>
										<p class="team_name">ROX</p>
									</dd>
								</dl>
								<dl class="rise_list">
									<dt><span>选拔赛</span></dt>
									<dd>
										<p class="flag_icon">
											<!-- <img src="ossweb-img/flag_icon1.jpg" alt="" /> -->
										</p>
										<p class="team_icon">
											<img src="https://p.qpic.cn/sign_up17/0/1abc7f914659b16f4d0c9a384f78e33a/0" alt="" />
										</p>
										<p class="team_name">TS</p>
									</dd>
									<dd>
										<p class="flag_icon">
											<!-- <img src="ossweb-img/flag_icon2.jpg" alt="" /> -->
										</p>
										<p class="team_icon">
											<img src="https://p.qpic.cn/sign_up17/0/1ac7f06911de4523fa8c512cea36a816/0" alt="" />
										</p>
										<p class="team_name">eStarPro</p>
									</dd>
								</dl>
							</div>
						</div>
						<div class="yxs_rule">
							<p class="rule_tit">规则说明</p>
							<div class="rule_main">
								<p class="rule_text">
									选拔赛8支战队进行BO1单循环赛，最终积分排名前两名获得晋级淘汰赛资格。
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="match_main" >
				<div class="out_main">
					<div class="out_list out_result1">
						<!-- out_light 胜利  out_dark失败-->
						<div class="out_dark c">
							<div class="out_team">
								<p class="flag_icon">
									<img src="ossweb-img/flag_icon1.jpg" alt="" />
								</p>
								<p class="team_icon">
									<img src="ossweb-img/team-slt.png" alt="" />
								</p>
								<p class="team_name">SLT</p>
							</div>
							<p class="out_jf">0</p>
						</div>
						<div class="out_dark">
							<div class="out_team">
								<p class="flag_icon">
									<img src="ossweb-img/flag_icon2.jpg" alt="" />
								</p>
								<p class="team_icon">
									<img src="https://p.qpic.cn/sign_up17/0/1ac7f06911de4523fa8c512cea36a816/0" alt="" />
								</p>
								<p class="team_name">eStarPro</p>
							</div>
							<p class="out_jf">0</p>
						</div>
						<p class="out_time">12月26日 18:30</p>
					</div>
					<div class="out_list out_result2">
						<div class="out_dark c">
							<div class="out_team">
								<p class="flag_icon">
									<img src="ossweb-img/flag_icon1.jpg" alt="" />
								</p>
								<p class="team_icon">
									<img src="ossweb-img/team-dyg.png" alt="" />
								</p>
								<p class="team_name">DYG.JC</p>
							</div>
							<p class="out_jf">0</p>
						</div>
						<div class="out_dark">
							<div class="out_team">
								<p class="flag_icon">
									<img src="ossweb-img/flag_icon2.jpg" alt="" />
								</p>
								<p class="team_icon">
									<img src="https://p.qpic.cn/sign_up17/0/1abc7f914659b16f4d0c9a384f78e33a/0" alt="" />
								</p>
								<p class="team_name">TS</p>
							</div>
							<p class="out_jf">0</p>
						</div>
						<p class="out_time">12月27日 15:00</p>
					</div>
					<div class="out_list out_result3">
						<div class="out_dark c">
							<div class="out_team">
								<p class="flag_icon">
									<img src="ossweb-img/flag_icon1.jpg" alt="" />
								</p>
								<p class="team_icon">
									<img src="ossweb-img/team-qg.png" alt="" />
								</p>
								<p class="team_name">QGhappy</p>
							</div>
							<p class="out_jf">0</p>
						</div>
						<div class="out_dark">
							<div class="out_team">
								<p class="flag_icon">
									<img src="ossweb-img/flag_icon2.jpg" alt="" />
								</p>
								<p class="team_icon">
									<img src="ossweb-img/team-gog.png" alt="" />
								</p>
								<p class="team_name">GOG</p>
							</div>
							<p class="out_jf">0</p>
						</div>
						<p class="out_time">12月26日 15:00</p>
					</div>
					<div class="out_list out_result4">
						<div class="out_dark c">
							<div class="out_team">
								<p class="flag_icon">
									<img src="ossweb-img/flag_icon1.jpg" alt="" />
								</p>
								<p class="team_icon">
									<img src="ossweb-img/team-ag.png" alt="" />
								</p>
								<p class="team_name">AG超玩会</p>
							</div>
							<p class="out_jf">0</p>
						</div>
						<div class="out_dark">
							<div class="out_team">
								<p class="flag_icon">
									<img src="ossweb-img/flag_icon2.jpg" alt="" />
								</p>
								<p class="team_icon">
									<img src="ossweb-img/team-rox.png" alt="" />
								</p>
								<p class="team_name">ROX</p>
							</div>
							<p class="out_jf">0</p>
						</div>
						<p class="out_time">12月27日 18:30</p>
					</div>
					<div class="out_list out_result5">
						<div class="out_dark c">
							<div class="out_team">
								<p class="flag_icon">
									<img src="ossweb-img/flag_icon1.jpg" alt="" />
								</p>
								<p class="team_icon">
									<img src="ossweb-img/team-dd.png" alt="" />
								</p>
								<p class="team_name">待定</p>
							</div>
							<p class="out_jf">0</p>
						</div>
						<div class="out_dark">
							<div class="out_team">
								<p class="flag_icon">
									<img src="ossweb-img/flag_icon2.jpg" alt="" />
								</p>
								<p class="team_icon">
									<img src="ossweb-img/team-dd.png" alt="" />
								</p>
								<p class="team_name">待定</p>
							</div>
							<p class="out_jf">0</p>
						</div>
						<p class="out_time">12月29日 18:00</p>
					</div>
					<div class="out_list out_result6">
						<div class="out_dark c">
							<div class="out_team">
								<p class="flag_icon">
									<img src="ossweb-img/flag_icon1.jpg" alt="" />
								</p>
								<p class="team_icon">
									<img src="ossweb-img/team-dd.png" alt="" />
								</p>
								<p class="team_name">待定</p>
							</div>
							<p class="out_jf">0</p>
						</div>
						<div class="out_dark">
							<div class="out_team">
								<p class="flag_icon">
									<img src="ossweb-img/flag_icon2.jpg" alt="" />
								</p>
								<p class="team_icon">
									<img src="ossweb-img/team-dd.png" alt="" />
								</p>
								<p class="team_name">待定</p>
							</div>
							<p class="out_jf">0</p>
						</div>
						<p class="out_time">12月30日 18:00</p>
					</div>
					<div class="out_list out_result7">
						<div class="out_dark c">
							<div class="out_team">
								<p class="flag_icon">
									<img src="ossweb-img/flag_icon1.jpg" alt="" />
								</p>
								<p class="team_icon">
									<img src="ossweb-img/team-dd.png" alt="" />
								</p>
								<p class="team_name">待定</p>
							</div>
							<p class="out_jf">0</p>
							<!-- <p class="win_icon"></p> -->
						</div>
						<div class="out_dark">
							<div class="out_team">
								<p class="flag_icon">
									<img src="ossweb-img/flag_icon2.jpg" alt="" />
								</p>
								<p class="team_icon">
									<img src="ossweb-img/team-dd.png" alt="" />
								</p>
								<p class="team_name">待定</p>
							</div>
							<p class="out_jf">0</p>
						</div>
						<p class="out_time">1月4日</p>
					</div>
					<p class="cup_img">
						<img src="ossweb-img/cup_img.png" alt="" />
					</p>
					<div class="out_rule">
						<p class="rule_sm"><strong>规则说明：</strong>淘汰赛根据抽签结果进行对阵，赛制为七局四胜制（全局BP+巅峰对决）</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script id="rankTemplate" type="text/html">
	{{each data as item index}}
		<!--添加rise为晋级样式-->
	<li class=""><!--添加rank_rise为晋级样式-->
		<p class="rank_iteam1">
			<span class="rank_num">{{index+1}}</span>
			<em class="rise_icon">晋级</em>
		</p>
		<div class="ranl_iteam2">
			<p class="flag_icon">
				<!-- <img src="ossweb-img/flag_icon1.jpg" alt="" /> -->
			</p>
			<p class="team_icon">
				<img src="{{item.logo}}" alt="" />
			</p>
			<p class="team_name">{{item.name}}</p>
		</div>
		<p class="sf_num">{{item.win}}/{{item.lose}}</p>
		<p class="jf_num">{{item.points}}</p>
		<p class="jfz_num">{{item.net_points}}</p>
	</li>
	{{/each}}
</script>
<script id="matchTemplate" type="text/html">


		<!-- out_light 胜利  out_dark失败-->
		<div class="out_dark c {{if data.match_state==4 && data.host_score>data.guest_score}}out_light{{/if}}">
			<div class="out_team">

				<p class="team_icon">
					<img src="{{data.hlogo}}" alt="" />
				</p>
				<p class="team_name">{{data.hname}}</p>
			</div>
			<p class="out_jf">{{data.host_score}}</p>
			{{ if index==6 && data.match_state==4 && data.host_score>data.guest_score }}
				<p class="win_icon"></p>
			{{/if}}
		</div>
		<div class="out_dark {{if data.match_state==4 && data.host_score<data.guest_score}}out_light{{/if}}">
			<div class="out_team">
				<p class="team_icon">
					<img src="{{data.glogo}}" alt="" />
				</p>
				<p class="team_name">{{data.gname}}</p>
			</div>
			<p class="out_jf">{{data.guest_score}}</p>
			{{ if index==6 && data.match_state==4 && data.host_score < data.guest_score }}
				<p class="win_icon"></p>
			{{/if}}
		</div>
		{{ if index == 6}}
		<p class="out_time">{{turnTimeNoHours data.match_timestamp}}</p>
		{{else}}
		<p class="out_time">{{turnTime data.match_timestamp}}</p>
		{{/if}}


</script>
<script src="//ossweb-img.qq.com/images/js/mobile_bundle/milo.js"></script>
<script src="//ossweb-img.qq.com/images/js/mobile_bundle/util/zepto.js"></script>
<script src="//gzhcache.qq.com/assets/js/common/template.js"></script>
<script>
	template.helper("turnTime", function (timestamp) {
		timestamp = new Date(timestamp * 1000);
		var month = timestamp.getMonth()+1;
		var minutes = timestamp.getMinutes()<10 ? '0'+timestamp.getMinutes() : timestamp.getMinutes();
		return month+'月'+timestamp.getDate()+'日 '+timestamp.getHours() + ':'+minutes;
	})
	template.helper("turnTimeNoHours", function (timestamp) {
		timestamp = new Date(timestamp * 1000);
		var month = timestamp.getMonth()+1;
		var minutes = timestamp.getMinutes()<10 ? '0'+timestamp.getMinutes() : timestamp.getMinutes();
		return month+'月'+timestamp.getDate()+'日 ';
    })
</script>
<script src="./js/index.js"></script>
<script src="//ossweb-img.qq.com/images/js/PTT/ping_tcss_tgideas_https_min.js"></script>
<script>
//此段代码不能放到外链JS中，
var setSite={ //设置网站属性
    siteType:"a20191218dgsc", //必填项:"os"代表是官网，如果不是，则填写actName例如a20160701xxx
    pageType:"index", //必填项:本页面的定位；按照页面含义填写例如main||list||detail||download||share||page1||pageN,不支持点(.)、下划线(_)
    pageName:"东冠赛程", //必填项:页面中文名
    project:"other", //选填项:如果是官网模块则是必填;按照模块内容，填写固定的对应值;官网微社区base;同人站doujin;赛事match;故事站story;文化站history;粉丝站fans;爆料站coming;论坛bbs;皮肤skin;默认other;
    osact:0 //选填项:默认是0。osact=0表示非官网专题；osact=pc表示pc官网/pc官网专题；osact=m表示移动官网/移动官网专题；osact=ingame表示微社区/微社区专题
};
if(typeof(pgvMain)=='function')pgvMain();//千万不能忘记！
</script>
</body>
</html>